
<!DOCTYPE html>
<head>
   <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function() {
			$("#header").load("header.gohtml");
	});
</script>
<script>
	$(function() {
			$("#footer").load("footer.gohtml");
	});
</script>
</head>
<body>
<div id="header"></div>

		<!-- header wrapper -->
		<div class="header-wrapper sm-padding bg-grey">
			<div class="container">
				<h2>Hud Responders</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="index.html#blog">Comments</a></li>
					<li class="breadcrumb-item active">Single Posts</li>
				</ul>
			</div>
		</div>
		<!-- /header wrapper -->

<div id="footer"></div>
</body>


