
{{template "header"}}

		<!-- header wrapper -->
		<div class="header-wrapper sm-padding bg-grey">
			<div class="container">
				<h2>Hud Responders</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="index.html#blog">Comments</a></li>
					<li class="breadcrumb-item active">Single Posts</li>
				</ul>
			</div>
		</div>
		<!-- /header wrapper -->

<div id="footer"></div>
</body>

{{template "footer"}}
